/m16-imit.asm.rpt
/m16-imit.done
/m16-imit.eda.rpt
/m16-imit.fit.rpt
/m16-imit.flow.rpt
/m16-imit.map.rpt
/m16-imit.map.smsg
/m16-imit.tan.rpt
/m16-imit_nativelink_simulation.rpt
/serv_req_info.txt
*.qws
*.v.bak

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/db/
/greybox_tmp/
/incremental_db/
/simulation/
/output_files/
